<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TempConvertSoap" />
                <binding name="TempConvertSoap1" />
            </basicHttpBinding>
            <customBinding>
                <binding name="TempConvertSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="TempConvertSoap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://www.w3schools.com/xml/tempconvert.asmx"
                binding="basicHttpBinding" bindingConfiguration="TempConvertSoap"
                contract="Hallo.WSDL.TestService.TempConvertSoap" name="TempConvertSoap" />
            <endpoint address="http://www.w3schools.com/xml/tempconvert.asmx"
                binding="customBinding" bindingConfiguration="TempConvertSoap12"
                contract="Hallo.WSDL.TestService.TempConvertSoap" name="TempConvertSoap12" />
            <endpoint address="http://www.w3schools.com/xml/tempconvert.asmx"
                binding="basicHttpBinding" bindingConfiguration="TempConvertSoap1"
                contract="Hallo.WSDL.TestService.TempConvertSoap" name="TempConvertSoap1" />
            <endpoint address="http://www.w3schools.com/xml/tempconvert.asmx"
                binding="customBinding" bindingConfiguration="TempConvertSoap121"
                contract="Hallo.WSDL.TestService.TempConvertSoap" name="TempConvertSoap121" />
        </client>
    </system.serviceModel>
</configuration>